---
# Main site playbook - orchestrates all deployments
- name: Enterprise Platform Deployment
  hosts: all
  become: true
  gather_facts: true
  
  pre_tasks:
    - name: Display OS information
      debug:
        msg: |
          Operating System: {{ ansible_distribution }} {{ ansible_distribution_version }}
          OS Family: {{ ansible_os_family }}
          Architecture: {{ ansible_architecture }}
    
    - name: Update package cache
      package:
        update_cache: true
      when: package_update_cache | bool

  roles:
    - common

- name: Deploy MariaDB servers
  import_playbook: mariadb.yml

- name: Deploy MongoDB servers
  import_playbook: mongodb.yml

- name: Deploy Application servers
  import_playbook: application.yml
