apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: tenant-a
  labels:
    app: api-service
spec:
  type: ClusterIP
  selector:
    app: api-service
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
